.Nav {
  width: 100vw;
  height: 15vh;
  background-color: lightskyblue;
  display: flex;
}

.Home {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  left: 50px;
  top: 10px;
}

.Main {
  background-color: black;
  width: 100vw;
  height: 85vh;
}

.Data {
  
}