.Nav {
  background-color: lightskyblue;
  padding: 40px 60px;
}
body {
background-color: black;
}
.Data {
  background-color: white;
  width: 60vw;
  padding: 20px 40px;
  margin: 100px auto 20px auto;
  position: relative;
}
.Data p {
  font-size: 18px;
}
p.userNum {
  position: absolute;
  top: -20px;
  right: 15px;
  font-size: 25px;
}
.name {
  text-decoration: lightskyblue underline;
}
.flex{
  display: flex;
  justify-content: space-around;
}
.button {
background-color: transparent;
color: white;
border: 0px;
font-size: 20px;
}
